{%extends "layout.html"%}
{%block content%}
<div class ="about">
    <h1> CONTINUED....</h1>
    <P> 5) I have  worked as a python trainer in Vax Technology Pvt. Ltd., Pune 
    </P>
    <p> 6) I am new to freelancing and I have done done freelancing projects,such as creted a website using FLASK. </p>
    <p> 7) I am a ENTRY LEVEL CERTIFIED PYTHON PROGRAMMER.</p>
    <P> 8) I have good command in python. I have knowledge of numpy,pandas,sql,aws</P>
    <p> 9) My hobbies and rea of interest is in sports. I am a disrtict level badminton player.</p>
</div>
{%endblock%}
