{%extends "layout.html"%}
{%block content%}

<div class ="home">
    <h1>INTRODUCTION</h1>
    <P> 1) My name is Kirti Chaturvedi. I am  a highly organized and hard-working individual looking for a responsible position to gain practical
        experience and I am a certified python developer.
        </P>
    <P> 2) Bachelors in Technology, ITM, Uttar Pradesh Technical University,2015 with an aggregate
        percentage 75.44.</P> 
    <p> 3) I have worked on the project theft intimation of the vehicle over GSM.</p>
    <p> 4) I have created this website using FLASK FRAMEWORK in python.</p>       
</div> 
{%endblock%}   

